Host wireshark-master1*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/malcolm/dev/bossjones/bossjones-playbook-suite/boss-ansible-role-tools/.vagrant/machines/wireshark-master1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL
  ForwardX11 yes
